{% extends "core/base.html"%}
{% load static %}
{% block content%}


<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% for order_item in object.items.all%}
					<tr>
						<td class="cart_product">
							<a href="#"><img src="{{order_item.item.image.url}}" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="#">{{order_item.item.title}}</a></h4>
							<p>Web ID: {{order_item.item.timestamp}}</p>
						</td>
						<td class="cart_price">
							<p>${{order_item.item.price}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up"
									href="{% url 'core:add_to_cart' order_item.item.slug order_item.item.id %}">
									+ </a>
								<input class="cart_quantity_input" type="text" name="quantity"
									value="{{order_item.quantity}}" autocomplete="off" size="2">
								<a class="cart_quantity_down"
									href="{% url 'core:remove_item_from_cart' order_item.item.slug order_item.item.id %}">
									- </a>
							</div>
						</td>
						<td class="cart_total">
							{% if order_item.item.discount_price %}
							<p class="cart_total_price">${{order_item.get_total_discount_item_price}}</p>
							{% else %}
							<p class="cart_total_price">${{order_item.get_total_item_price}}</p>
							{% endif %}
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete"
								href="{% url 'core:remove_from_cart' order_item.item.slug order_item.item.id %}"><i
									class="fa fa-times"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>
<!--/#cart_items-->

<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>What would you like to do next?</h3>
			<p>Choose if you have a discount code or reward points you want to use or would like to estimate your
				delivery cost.</p>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="chose_area">
					<ul class="user_option">
						<li>
							<input type="checkbox">
							<label>Use Coupon Code</label>
						</li>
						<li>
							<input type="checkbox">
							<label>Use Gift Voucher</label>
						</li>
						<li>
							<input type="checkbox">
							<label>Estimate Shipping & Taxes</label>
						</li>
					</ul>
					<ul class="user_info">
						<li class="single_field">
							<label>Country:</label>
							<select>
								<option>United States</option>
								<option>Bangladesh</option>
								<option>UK</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Ucrane</option>
								<option>Canada</option>
								<option>Dubai</option>
							</select>

						</li>
						<li class="single_field">
							<label>Region / State:</label>
							<select>
								<option>Select</option>
								<option>Dhaka</option>
								<option>London</option>
								<option>Dillih</option>
								<option>Lahore</option>
								<option>Alaska</option>
								<option>Canada</option>
								<option>Dubai</option>
							</select>

						</li>
						<li class="single_field zip-field">
							<label>Zip Code:</label>
							<input type="text">
						</li>
					</ul>
					<a class="btn btn-default update" href="#">Get Quotes</a>
					<a class="btn btn-default check_out" href="#">Continue</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>Cart Sub Total <span>${{object.get_total}}</span></li>
						<li>Shipping Cost <span>Free</span></li>
						<li>Total <span>${{object.get_total}}</span></li>
					</ul>
					{% if user.is_authenticated %}
					<a class="btn btn-default check_out ml-2" href="#">Checkout</a>
					{% else %}
					<a class="btn btn-default check_out" href="{% url 'core:checkout' %}">Checkout</a>
					<a class="btn btn-default check_out" href="/checkout/">Guest Checkout</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<!--/#do_action-->
{% endblock content%}