{% extends "core/base.html"%}
{% load static %}

{% load crispy_forms_tags %}
{% block content%}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Check out</li>
			</ol>
		</div>
		<!--/breadcrums-->

		<div class="step-one">
			<h2 class="heading">Step1</h2>
		</div>
		<div class="checkout-options">
			<h3>New User</h3>
			<p>Checkout options</p>
			<ul class="nav">
				<li>
					<label><input type="checkbox"> Register Account</label>
				</li>
				<li>
					<label><input type="checkbox"> Guest Checkout</label>
				</li>
				<li>
					<a href="#"><i class="fa fa-times"></i>Cancel</a>
				</li>
			</ul>
		</div>
		<!--/checkout-options-->

		<div class="register-req">
			<p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
		</div>
		<!--/register-req-->

		<div class="shopper-informations">
			<div class="row">
				<form method="POST" action=".">
					{% csrf_token %}
					<div class="col-sm-6 col-sm-offset-1 clearfix ">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-group">
								{{form.email|as_crispy_field}}
								{{form.first_name|as_crispy_field}}
								{{form.last_name|as_crispy_field}}
								{{form.address|as_crispy_field}}
								{{form.zip_code|as_crispy_field}}
								{{form.country|as_crispy_field}}
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Order Details</p>
							<!-- <textarea name="message" placeholder="Notes about your order, Special Notes for Delivery"
										rows="16"></textarea> -->
							{{form.shipping_order|as_crispy_field}}
							<label>{{form.ship_to_address|as_crispy_field}}</label>
						</div>
					</div>
					<button class="btn btn-primary btn-lg" href="#">Continue to Checkout</button>
				</form>
			</div>
		</div>
		<div class="review-payment">
			<h2>Review & Payment</h2>
		</div>

		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% for order_item in object.items.all%}
					<tr>
						<td class="cart_product">
							<a href="#"><img src="{{order_item.item.image.url}}" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="#">{{order_item.item.title}}</a></h4>
							<p>Web ID: {{order_item.item.timestamp}}</p>
						</td>
						<td class="cart_price">
							<p>${{order_item.item.price}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" href="#"> + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value="1"
									autocomplete="off" size="2">
								<a class="cart_quantity_down" href="#"> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">$59</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="payment-options">
			<span>
				<label><input type="checkbox"> Direct Bank Transfer</label>
			</span>
			<span>
				<label><input type="checkbox"> Check Payment</label>
			</span>
			<span>
				<label><input type="checkbox"> Paypal</label>
			</span>
		</div>
	</div>
</section>
<!--/#cart_items-->

{% endblock content%}