{% extends "core/base.html"%}
{% load static %}
{% block content%}
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>THE</span>-STORENAME</h1>
								<h2>The Best Software Deals</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. </p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="{% static 'core/images/shop/store_7.png' %}" class="girl img-responsive"
									alt="" />
								<img src="{% static 'core/images/home/pricing.png' %}" class="pricing" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h1><span>THE</span>-STORENAME</h1>
								<h2>100% Quality Guaranteed </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. </p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="{% static 'core/images/shop/store_16.jpeg' %}" class="girl img-responsive"
									alt="" />
								<img src="{% static 'core/images/home/pricing.png' %}" class="pricing" alt="" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6">
								<h1><span>THE</span>-STORENAME</h1>
								<h2>Shop with us</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. </p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="{% static 'core/images/shop/store_11.jpeg' %}" class="girl img-responsive"
									alt="" />
								<img src="{% static 'core/images/home/pricing.png' %}" class="pricing" alt="" />
							</div>
						</div>

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!--/slider-->

<section>
	<div class="container">
		<div class="row">
			{% include "core/sidebar.html" with categories=categories category=category brands=brands%}
			<div class="col-sm-9 padding-right">
				<div class="category-tab">
					<!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li {% if not category %} class="active" id="products" {% endif%}>
								<a href="{% url 'core:shop' %}">Products</a>

							</li>
							{% for cat in categories%}
							<li {% if category.slug == cat.slug %} class="active" {% endif %}">
								<a href="#" data-toggle="tab">{{cat.get_title_display}}</a>
							</li>
							{% endfor %}


						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="products">
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{%static 'core/images/home/shipping.jpg'%}" alt="" />
											<h2>$56</h2>
											<p>Top Products</p>
											<a href="#" class="btn btn-default add-to-cart"><i
													class="fas fa-shopping-cart"></i>Add to cart</a>
										</div>

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'core/images/home/shipping.jpg' %}" alt="" />
											<h2>$56</h2>
											<p>Top Products</p>
											<a href="#" class="btn btn-default add-to-cart"><i
													class="fas fa-shopping-cart"></i>Add to cart</a>
										</div>

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'core/images/home/shipping.jpg' %}" alt="" />
											<h2>$56</h2>
											<p>Top Products</p>
											<a href="#" class="btn btn-default add-to-cart"><i
													class="fas fa-shopping-cart"></i>Add to cart</a>
										</div>

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'core/images/home/shipping.jpg' %}" alt="" />
											<h2>$56</h2>
											<p>Top Products</p>
											<a href="#" class="btn btn-default add-to-cart"><i
													class="fas fa-shopping-cart"></i>Add to cart</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/category-tab-->
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Our Products</h2>
					{% for item in items %}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<a href="{{item.get_absolute_url}}"><img src="{{item.image.url}}" alt="" /></a>
									<h2>${{item.price}}</h2>
									<a href="{{item.get_absolute_url}}">
										<p>{{item.title}}</p>
									</a>
									<a href="{{item.get_absolute_url}}" class="btn btn-default add-to-cart">See
										details <i class="fas fa-info-circle"></i></a>
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>${{item.price}}</h2>
										<a href="{{item.get_absolute_url}}">
											<p>{{item.title}}</p>
										</a>
										<a href="{{item.get_absolute_url}}" class="btn btn-default add-to-cart">See
											details <i class="fas fa-info-circle"></i></a>
									</div>
								</div>
							</div>
							<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
									<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<!--features_items-->
				<div class="recommended_items">
					<!--recommended_items-->
					<h2 class="title text-center">Latest Offers</h2>

					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								{% for item in items %}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{item.image.url}}" alt="" />
												{% if item.discount_price %}
												<h2><s>${{item.price}}</s></h2>
												<span>
													<h2>${{item.discount_price}}</h2>
												</span>
												{% else %}
												<h2>${{item.price}}</h2>
												{% endif %}
												<p>{{item.title}}</p>
												<a href="{{item.get_add_to_cart_url}}_"
													class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>

										</div>
									</div>
								</div>
								{% if forloop.counter|divisibleby:3 and not forloop.last %}
							</div>
							<div class="item">
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
				<!--/recommended_items-->

			</div>
		</div>
	</div>
</section>

{% endblock content%}