{% extends "core/base.html"%}
{% load static %}
{% block content%}
<section>
	<div class="container">
		<img src="{% static 'core/images/shop/advertisement.jpg' %}" alt="" />
	</div>
	<div class="container">
		<div class="row">
			{% include "core/sidebar.html" with categories=categories category=category brands=brands %}
			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Featured Items</h2>
					{% for item in queryset%}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{{item.image.url}}" alt="" />
									<h2>${{item.price}}</h2>
									<p>{{item.title}}</p>
									<a href="{{item.get_add_to_cart_url}}" class="btn btn-default add-to-cart"><i
											class="fas fa-shopping-cart"></i>Add to cart</a>
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>${{item.price}}</h2>
										<p>{{item.title}}</p>
										<a href="{{item.get_add_to_cart_url}}" class="btn btn-default add-to-cart"><i
												class="fas fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<li><a href="#"><i class="fas fa-plus-square"></i>Add to wishlist</a></li>
									<li><a href="#"><i class="fas fa-plus-square"></i>Add to compare</a></li>
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<!--features_items-->
			</div>
			<div class="col-sm-9 text-center">
				<ul class="pagination">
					{% if queryset.has_previous %}
					<li><a href="?page={{queryset.previous_page_number}}">&laquo; Previous</a></li>
					{%endif%}

					{% for num in queryset.paginator.page_range %}
					{% if queryset.number == num %}
					<li class="active"><a href="?page={{num}}">{{num}}</a></li>
					{% elif num > queryset.number|add:'-2' and num < queryset.number|add:'2' %}
					<li>
						<a href="?page={{num}}">{{num}}</a>
					</li>
					{%endif%}
					{% endfor %}


					{% if queryset.has_next%}
					<li><a href="?page={{queryset.next_page_number}}">Next &raquo;</a></li>
					{% endif %}
				</ul>

			</div>
		</div>
	</div>
</section>

{% endblock content%}